<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="fromEvent">from Event</a>
            </li>
            <li>
                <a routerLink="interval">Interval</a>
            </li>
            <li>
                <a routerLink="of-from">of and from</a>
            </li>
            <li>
                <a routerLink="to-array">toArray</a>
            </li>
            <li>
                <a routerLink="custom">Custom Observable</a>
            </li>
            <li>
                <a routerLink="pluck">Pluck</a>
            </li>
            <li>
                <a routerLink="subject">Subject</a>
            </li>
        </ul>
    </div>
</div>