ul.list {
    list-style-type: none;
    margin: 40px 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
ul.list li {
    width: calc(25% - 20px);
    margin: 10px;
}
ul.list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;      /* adjust as per your UI */
    height: 120px;     /* matches your screenshot layout */
    background: #f8f8f8;
    color: #6296bb;
    border-radius: 5px;
    text-decoration: none;
    transition: .3s ease all;
    font-size: 20px;
}
ul.list li a:hover {
    background: #e3f2fd;
    color: #477698;
    box-shadow: 0 0 60px #b3cada inset;
    text-decoration: none;
}
