<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Observable and Promises</a>
    @if (exclusive) {
      <strong class="badge bg-primary">Exclusive</strong>
    }


    <button class="navbar-toggler"
            type="button"
            (click)="onNavToggle()"
            aria-controls="mainNavbar"
            [attr.aria-expanded]="navOpen ? 'true' : 'false'"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         [class.show]="navOpen"
         id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"
            routerLink="promise"
            routerLinkActive="active"
            (click)="closeNav()">
            Promise
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            routerLink="observable"
            routerLinkActive="active"
            (click)="closeNav()">
            Observable
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
