<div class="my-3">
    <h2>Of and From</h2>
    <br>
    <strong>Ex - 01 (OF)</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>of('Ashish','Sangram','Singh')
            </p>
            <hr>
            <ul id="elContainer"></ul>
        </div>

        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>of(&#123a;: 'Ashish', b: 'Sangram', c: 'Singh'&#125;)
            </p>
            <hr>
            <ul>
                <li><strong>a: </strong> {{ objMessage.a }}</li>
                <li><strong>b: </strong> {{ objMessage.b }}</li>
                <li><strong>c: </strong> {{ objMessage.c }}</li>
            </ul>
        </div>
    </div>

</div>